.containerPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .colorHex {
    width: 30px;
    height: 30px;

    margin: 0.3rem;

    border-radius: 50%;
    cursor: pointer;
    box-shadow: inset 0 1px 8px #0000004a;
  }
}
