.containerDetails {
  height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  .versionsList {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin-right: 1.4rem;

      a {
        text-decoration: none;
        color: #3f3f3f;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          color: #cc0000;
          border-bottom: 3px solid #cc0000;
          font-weight: bold;
        }
      }
    }
  }

  .colorsInfo {
    width: 100%;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    background-color: white;
    border-radius: 10px;

    padding: 1rem;

    margin-bottom: 10px;
  }
}
