.homePage {
  background-color: #F0F0F0;
  height: calc(100vh - 5.3rem);

  display: flex;
  justify-content: center;
  align-items: center;
}

.listCarsContainer {
  width: 95%;
  height: 180px;

  border-radius: 10px;

  background-color: #FFFFFF;
  position: absolute;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 1.4rem;
    margin: 20px 30px;
  }

  .listCars {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.teste {
  z-index: 999;
}