.infoColors {
  width: 100%;
  height: 200px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: white;
  border-radius: 10px;

  padding: 1rem;

  margin-bottom: 10px;
}