.headerContainer {
  background: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  padding: 1.2rem;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.09);

  .location {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #414141;

    .locationPicked {
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        color: #CC0000;
        cursor: pointer;
        margin-right: 5px;
      }
    }

    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
}