.automoveisContainer {
  height: calc(100vh - 5.3rem);

  display: flex;
  justify-content: center;
  flex-direction: column;

  .linkBack {
    width: 10%;
    margin: 0px 0px 20px 70px;
    background: white;
    text-align: center;
    padding: 0.8rem;
    border-radius: 10px;
    text-decoration: none;
    color: #3F3F3F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #CC0000;
      color: white;
      img {
        filter: invert(100);
      }
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}